$clr-white: #FFFFFF;
$clr-black: #000000;
$clr-grey-950: #08070B;
$clr-grey-900: #14131B;
$clr-grey-850: #18171F;
$clr-grey-800: #24232C;
$clr-grey-700: #54535B;
$clr-grey-600: #817D92;
$clr-grey-200: #E6E5EA;
$clr-green: #A4FFAF;
$clr-yellow: #F8CD65;
$clr-orange: #FB7C58;
$clr-red: #F64A4A;
$clr-blue: #ADD8E6;
$clr-gradient: linear-gradient(to right, #14131B, #08070B);